body {
    font-size: 14px;
    background-image: url("Image/register1.jpg");
    background-size: 100vmax;
  }
  h2{
      text-align: center;
  }
  .container {
    width: 500px;
    margin: 25px auto;
    opacity: 0.8;
  }
  
  .title {
    margin-bottom: 1rem;
    font-family:monospace;
    color: white;
    font-variant: small-caps;
    font-size: 50px;
  }
  
  form {
    padding: 20px;
    background-image:radial-gradient(black,grey,gray);
    color:white;
    border-radius: 4px;
    font-family: monospace;
  }
  form label,
  form input,
  form button {
    border: 0;
    margin-bottom: 3px;
    display: block;
    width: 100%;
    color: black;
  }
  form input {
    height: 25px;
    line-height: 25px;
    background:lightgray;
    color: #000;
    padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
  }
  form button {
    height: 30px;
    line-height: 30px;
    width: 120px;
    background: #2ee609;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 35%;
    cursor: pointer;
    font-family: monospace;
  }
  form button:hover{
      color: black;
  }
  form .error {
    color: #ff0000;
  }
  
  .article-reference {
    margin-top: 15px;
  }
  .article-reference a {
    color: #e67e22;
  }
  .left{
      float: left;
      margin-left: -90px;
      height: 80vmax;
  }